body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(79, 199, 207);
}

.container{
    
    box-sizing: border-box;
    width: 512px;
    height: 632px;
    border: 1px solid grey;
    padding: 5px;
}

.card_up{
    width: 500px;
    height: 300px;
    background-color: #e25429;
    margin: auto;
}

.card_down{
    width: 500px;
    height: 320px;
    background-color: white;
}

.card_photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(../images/cat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    position: relative;
    bottom: 100px;
}

.user_name{
    font-size: 35px;
    text-align: center;
    position: relative;
    bottom: 90px;
}

.user_profession{
    font-size: 20px;
    text-align: center;
    color: grey;
    position: relative;
    bottom: 80px;
}

.card_btn{
    border: 1px solid grey;
    padding: 0px;
    background-color: white;
    width: 140px;
    height: 40px;
    margin: auto;
    position: relative;
    bottom: 65px;
}


img{
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    position: relative;
    left: 15px;
    top: 5px;
}

p{
    font-size: 20px;
    display: inline;
    position: relative;
    bottom: 3px;
    left: 25px;
}

.followers{
    font-size: 20px;
    text-align: center;
    color: grey;
    position: relative;
    bottom: 45px;
}